@charset "UTF-8";
.check-avail-link {
  color: #008a0c;
  font-size: 18px !important; }

/* Hides items from primo PNX*/
/*
prm-opac {
    display: none;
}
*/
/*
.pin-button,
prm-favorites-labels,
prm-search-bookmark-filter a[aria-label='Go to my favorites'],
prm-search-bookmark-filter a[aria-label="nui.favorites.goFavorites.tooltip"],
prm-favorites md-tab-item:first-child {
  display: none !important;
}
*/
/*
prm-library-card-menu > button {
  display: none !important;
}
*/
/*
a.md-button[aria-label="Browse"],
a.md-button[aria-label="mainmenu.label.Browse"] {
  display: none;
}
*/
[aria-label="Tags"],
#tags {
  display: none; }

prm-brief-result-container prm-search-result-availability-line > *:not(:last-child),
prm-full-view prm-search-result-availability-line > *:not(:last-child),
prm-full-view prm-search-result-availability-line-after a.check-avail-link {
  display: none; }

/*
// Hide Get It section on full view
[aria-label="Get It"],
[id^='getit_link1_'] {
  display: none;
}
*/
html, body {
  background: #FFF;
  color: #333; }

/*Change top bar from up.case to low.case and for buttons etc journal*/
body, prm-topbar .md-button, .md-button {
  text-transform: none; }

/*make logo area bit better journal*/
prm-logo .product-logo {
  cursor: pointer;
  height: 140px;
  padding: 20px 20px 10px 20px;
  background: #BD9A55;
  position: absolute;
  top: 0px;
  margin: 0 30px; }

@media screen and (max-width: 1280px) {
  prm-logo .product-logo {
    cursor: pointer;
    height: 100%;
    padding: 10px;
    background: #BD9A55;
    margin: 0; } }

/*stop nav from sliding under logo journal*/
prm-topbar prm-logo {
  z-index: 10;
  height: 100%;
  max-width: 454px; }

prm-main-menu[menu-type="menu"] .top-nav-bar-links {
  margin-left: 2px; }

prm-main-menu[menu-type="menu"] .md-button {
  min-width: 115px; }

prm-main-menu[menu-type="menu"] .md-button span.item-content {
  text-transform: uppercase; }

/*apply min height to top bar so images show up journal*/
prm-topbar {
  height: 80px; }

/*change font size in top bar journal*/
prm-main-menu[menu-type=menu] .md-button span.item-content {
  font-size: 1.25em;
  font-weight: 400; }

/*search history and thumbtack in top bar journal*/
prm-main-menu[menu-type=menu] .top-nav-bar-links {
  position: relative; }

div.full-view-inner-container {
  background: #FFF; }

prm-brief-result-container .list-item-primary-content {
  background: #FFF; }

/*Advanced search 'page' journal*/
prm-search-bar div.advanced-search-backdrop {
  background: #434A54; }

/*advanced search - push first line across journal*/
#advanced-search > form > div > div.layout-xs-column.layout-row.flex > md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-align-start-start.layout-column.flex > div.layout-full-width.layout-align-start-start.layout-column > div:first-of-type {
  margin-left: 71px; }

md-input-container:after {
  background-color: #416ebf; }

/*make text 'simple search' on Advanced screen white journal*/
prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
  color: #FFF; }

/*make Location be in bold - to increase contrast and make it easier to photograph call number with smart phone journal*/
span[class*="best-location"] {
  font-weight: bold; }

/*E-journal page journal*/
prm-journals-search-bar {
  background: #434A54; }

/*Give some space under Fines heading on Fines page journal */
#tab-content-3 > div > div > prm-fines > div > div.layout-column > div.header-title.layout-row {
  margin-top: -7px;
  padding-bottom: 0.7em; }

/* ----------------------------------------------------*/
/*responsive stuff for small screens journal*/
@media screen and (max-width: 640px) {
  /*add border to search box journal*/
  prm-search-bar #searchBar {
    border-top: 1px solid #e1e1e1;
    border-radius: 0; }
  prm-autocomplete md-autocomplete-wrap {
    border-top: 1px solid #e1e1e1; }
  /*hide the search scopes dropdown journal*/
  prm-search-bar .simple-search-wrapper .search-options prm-tabs-and-scopes-selector, #select_value_label_1, #select_value_label_2, prm-search-bar div.search-options.flex-sm-40.visible {
    display: none; } }

@media screen and (max-width: 768px) {
  /*fit user area in journal */
  #user_area_after {
    position: relative;
    float: right;
    min-width: 200px;
    height: 100%;
    margin: 0;
    padding: 0; }
  /*hide boolean tips and search tips on mobile journal*/
  #boolean, #searchtips {
    max-width: 100%; }
  /*make search button bit tidier journal*/
  prm-search-bar .simple-search-wrapper md-autocomplete-wrap input {
    height: 59px; }
  /* lop off username if too long journal*/
  .user-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 10em;
    right: -0.8em; }
  /*shorten placeholder text journal*/
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-overflow: ellipsis;
    max-width: 63%; }
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-overflow: ellipsis; }
  :-ms-input-placeholder {
    /* IE 10+ */
    text-overflow: ellipsis; }
  :-moz-placeholder {
    /* Firefox 18- */
    text-overflow: ellipsis; }
  [placeholder] {
    text-overflow: ellipsis; }
  ::placeholder {
    text-overflow: ellipsis; }
  input::placeholder {
    text-overflow: ellipsis; }
  /*for FF because it's being daft journal*/
  #searchBar:placeholder-shown {
    overflow: hidden;
    max-width: 99%;
    width: 99%;
    border: none;
    text-overflow: ellipsis; }
  prm-autocomplete md-autocomplete-wrap {
    width: 99% !important;
    max-width: 99%;
    text-overflow: ellipsis; } }

/*November release bits */
/*remove extra space in basic search results journal */
.search-result-availability-line-wrapper {
  min-height: 0.5em; }

/*try and get rid of little blue pixels that appear in Safari on input fields journal*/
md-input-container::after {
  height: 0;
  width: 0;
  content: "";
  display: block;
  border-bottom: 2px solid #416ebf; }

/*fix issue with logo hover highlighting journal*/
#banner.product-logo a.md-primoExplore-theme {
  background: none; }

#banner.product-logo a:hover {
  background: none; }

/* Fix display of 'X' for Safari journal*/
div.md-dialog-container.fixed-container > div > button {
  background: #d4d4d4;
  border-radius: 50%;
  opacity: 4; }

/*remove blue hover under banner logo journal */
a.md-primoExplore-theme, #banner > a:nth-child(1):hover {
  box-shadow: none; }

/*remove "Show results beyond my Libraries collection"*/
#facets > prm-facet > div > div > div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left {
  display: none; }

/*Hide "Get it" link for online resources*/
#getit_link2 > div {
  display: none; }

[aria-label="Get It 2"] {
  display: none; }

/*move first advanced search box to line up labels/inputs*/
#advanced-search > form > div > div.layout-xs-column.layout-row.flex > md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-align-start-start.layout-column.flex > div.layout-full-width.layout-align-start-start.layout-column > div:nth-child(1) {
  margin-left: 11.7%;
  width: 88.3%;
  min-width: 88.3%; }

/*remove availability text in full record view*/
prm-full-view-service-container prm-brief-result-container prm-search-result-availability-line {
  display: none; }

/*remove "Additional Services" from View It*/
[name="uResolverViewItForm"] div h1 {
  display: none; }

[name="uResolverViewItForm"] div ul:first-of-type {
  padding-bottom: 1em; }

/*add space to link out icon in "Links" section of full view*/
[translate="fulldisplay.worldcat"] {
  padding-right: 1.8em; }

/*Remove Hide Details from monograph records*/
#selectIssueForm > div > div > ul > li:last-child {
  display: none; }

/*remove space from left of "Request an interload"*/
.iframeHeader .submitAsLink.popout {
  margin-left: 0px; }

/*increase send-to box sizes to allow all text to fit*/
.saved-query-list > md-nav-bar .md-nav-item, prm-action-list > md-nav-bar .md-nav-item {
  max-width: 110px; }

/*Remove the "Return to" line in the Loans area*/
#tab-content-1 > div > div > prm-loans > md-list > md-list-item > prm-loan > div.md-list-item-text.layout-wrap.layout-row.flex > div.weak-text.flex-xs-100.flex-40 > p {
  display: none; }

#tab-content-0 > div > div > div > prm-loans-overview > div > div > md-list > md-list-item > div > div._md-list-item-inner > div.md-list-item-text > p.normal-text.loans-brief-display.no-wrap-line.weak-text {
  display: none; }

/*Use current no results text for the no results page*/
#mainResults > div.margin-bottom-medium > prm-no-search-result > md-card > md-card-content > ul > li:nth-child(5) {
  display: none; }

/*move sort options*/
@media screen and (min-width: 960px) {
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
    margin-left: 260%;
    position: absolute;
    margin-top: -27px;
    z-index: 1; }
  #facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row > div > h3 {
    font-size: 0.85em;
    font-weight: 600; }
  prm-search-result-sort-by {
    padding-bottom: 6px;
    font-size: 14px; }
  prm-facet > div.primo-scrollbar.is-stuck > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
    display: none; } }

/*change page number heading to lower case*/
div._md-subheader-inner > div._md-subheader-content > span.text.tiny-uppercase-text {
  letter-spacing: 0;
  text-transform: capitalize; }

/*resize E-journal search box label to fit*/
prm-browse-search-bar .journal-search-tile, prm-journals-search-bar .journal-search-tile, prm-tags-search-bar .journal-search-tile {
  width: 95px; }

/*tidy up date facet in Firefox*/
[translate="facets.date.slider.from"] + input {
  max-width: 80px !important; }

[translate="facets.date.slider.to"] + input {
  max-width: 80px !important; }

/*capitalise 'reviews" in advanced search material type dropdown*/
md-select-menu > md-content > [value="reviews"] {
  text-transform: capitalize; }

/*Direct linking stuff*/
/*make "view details" remain visible on record mouseover*/
prm-search-result-availability-line {
  z-index: 10; }

div > div > prm-fines > md-list > md-list-item > div.in-element-dialog-context.layout-row.flex > div.md-list-item-text.layout-wrap.layout-row.flex > div.weak-text.flex-xs-100.flex [translate="nui.fine.brief.2"] {
  padding-left: 1em; }

div > div._md-list-item-inner > div.md-list-item-text > p.bold-text.weak-text {
  direction: rtl; }

/*fix up fines button positioning until Merrin fixes it at her end*/
#pay_fines_btn_wrapper_main {
  height: 0;
  top: 0; }

#tab-content-0 > div > div > div > prm-fines-overview > div > div > div.tile-header.layout-column > div.layout-align-space-between-stretch.layout-row > h2 {
  margin-top: 0px; }

prm-view-online > div > a > prm-icon [aria-label="icon-open-in-new"] {
  margin-left: 0.5em; }

/*fix the topbar in the services page*/
prm-services-page prm-topbar {
  height: 140px; }

prm-services-page prm-topbar > div {
  border-top: 13px solid #774E9A; }

prm-services-page prm-user-area {
  display: none; }

prm-services-page prm-search-bookmark-filter {
  display: none !important; }

prm-services-page div.full-view-section-content prm-full-view-service-container {
  display: none; }

/*change colour of title in full result view*/
#brief > prm-full-view-service-container > div.section-body > prm-brief-result-container > div.list-item-primary-content.result-item-primary-content.layout-row > div.result-item-text.layout-fill.layout-column.flex > prm-brief-result > h3 > a > span > prm-highlight > span {
  color: #6d6d6d;
  /*cursor: auto;*/ }

@media screen and (min-height: 460px) and (min-width: 1280px) {
  /*make send-to vertical*/
  [aria-label="Send to"] {
    display: none; }
  prm-full-view #scrollActionList {
    flex-direction: column; }
  body.md-dialog-is-showing prm-action-list {
    float: right;
    top: 2em;
    position: fixed;
    right: 0; }
  prm-full-view-page #action_list {
    float: right;
    top: -4em;
    position: absolute;
    right: -4em; }
  #action_list > div > prm-full-view-service-container > div.section-body > prm-action-list > md-nav-bar > div {
    right: 50%; }
  #scrollActionList {
    align-items: center;
    align-content: center; }
  body.md-dialog-is-showing prm-action-container {
    top: 24em;
    position: fixed;
    float: right;
    right: 1em; }
  prm-full-view-page prm-action-container {
    top: 22em;
    position: absolute;
    float: right;
    right: 1em; }
  prm-full-view .send-actions-content-item > md-content, prm-full-view .send-actions-content-item > md-content.md-primoExplore-theme {
    padding: 2px; }
  #action_list .flex-20 {
    flex: initial;
    max-width: 0; }
  #action_list prm-full-view-service-container md-divider, #action_list prm-full-view-service-container h4 {
    display: none; }
  /*citation trails to the right*/
  [aria-label="References"] {
    display: none; }
  body.md-dialog-is-showing #citationTrails {
    bottom: 2em;
    position: fixed;
    float: right;
    right: 1em;
    padding: 0; }
  prm-full-view-page #citationTrails {
    top: 38em;
    position: absolute;
    float: right;
    right: 1em;
    padding: 0; }
  #citationTrails .full-view-section-content {
    padding: 0; }
  /* make actions sit on top of other elements */
  prm-action-list, prm-action-container {
    z-index: 15; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (min-width: 1890px) {
  prm-full-view prm-action-container .layout-fill {
    width: 30em; }
  prm-full-view-page prm-action-list {
    right: -33em; }
  prm-full-view-page prm-action-container {
    right: 2em; }
  #citationTrails {
    width: 26em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1890px) {
  prm-full-view prm-action-container .layout-fill {
    width: 29em; }
  prm-full-view-page prm-action-list {
    right: -31em; }
  prm-full-view-page prm-action-container {
    right: 3em;
    width: 27em; }
  #citationTrails {
    width: 25em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1800px) {
  prm-full-view prm-action-container .layout-fill {
    width: 28em; }
  prm-full-view-page prm-action-list {
    right: -31em; }
  prm-full-view-page prm-action-container {
    right: 3em;
    width: 27em; }
  #citationTrails {
    width: 23.5em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1710px) {
  prm-full-view prm-action-container .layout-fill {
    width: 26em; }
  prm-full-view-page prm-action-list {
    right: -30em; }
  prm-full-view-page prm-action-container {
    right: 4em;
    width: 25em; }
  #citationTrails {
    width: 22em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1620px) {
  prm-full-view prm-action-container .layout-fill {
    width: 22em; }
  prm-full-view-page prm-action-list {
    right: -26em; }
  prm-full-view-page prm-action-container {
    right: 1.5em;
    width: 24em; }
  #citationTrails {
    width: 18em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1530px) {
  prm-full-view prm-action-container .layout-fill {
    width: 20em; }
  prm-full-view-page prm-action-list {
    right: -26em; }
  prm-full-view-page prm-action-container {
    right: 1em;
    width: 24em; }
  #citationTrails {
    width: 16em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1440px) {
  prm-full-view prm-action-container .layout-fill {
    width: 19em; }
  prm-full-view-page prm-action-list {
    right: -24em; }
  prm-full-view-page prm-action-container {
    right: -1em;
    width: 24em; }
  #citationTrails {
    width: 15em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1350px) {
  prm-full-view prm-action-container .layout-fill {
    width: 18em; }
  #citationTrails {
    width: 14em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-width: 1280px) {
  prm-full-view prm-action-container .layout-fill {
    width: 16em; }
  prm-full-view-page prm-action-list {
    right: -24em; }
  prm-full-view-page prm-action-container {
    right: -2em;
    width: 24em; }
  #citationTrails {
    width: 12em; } }

@media screen and (min-height: 460px) and (min-width: 1280px) and (max-height: 730px) {
  prm-action-container prm-send-email {
    top: 16em;
    position: fixed;
    float: right;
    right: 1em; }
  prm-full-view-page prm-action-container prm-send-email {
    top: 2em;
    position: absolute;
    float: right;
    right: 2em; }
  [name="emailForm"] [name="subject"] {
    font-size: 0.8em; }
  prm-send-email .send-actions-content-item {
    padding: 0; }
  prm-send-email md-input-container {
    margin: 10px 0 0 0; }
  [name="emailForm"] .layout-margin {
    margin: 0 8px;
    padding: 0 8px; } }

/*fixes the sticky "exclude" facet option*/
#facets > prm-facet > div > div > div > prm-facet-group > div > prm-facet-exact > div > div.md-chips.md-chips-wrap > div:nth-child(6):focus {
  display: none; }

.cust_prm_out {
  padding-left: 0.5em;
  display: inline; }

.cust_prm_out md-icon {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px; }

/*mobile stuff - menu, etc*/
md-backdrop._md-dialog-backdrop {
  z-index: 80; }

prm-main-menu md-card.transparent-card:nth-child(2) {
  display: flex; }

prm-main-menu div > prm-authentication {
  padding-left: 0.8em; }

/*updated sort by dropdown*/
#sort_by_dropdown_wrapper {
  overflow: hidden;
  display: block;
  margin-bottom: -1.1em; }

#sort_by_dropdown_header {
  font-size: 0.85em;
  font-weight: 600;
  float: right;
  padding-top: 0.8em; }

#sort_by_dropdown_wrapper > prm-search-result-sort-by {
  padding: 0;
  margin-top: -0.05em;
  float: right; }

/*when controlled vocab box present*/
.controlled_vocab_present {
  margin-top: 3em; }

#mainResults > div.margin-bottom-medium {
  margin-top: -4.5em; }

#facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
  display: none; }

#mainResults > div.results-title.layout-align-start-center.layout-row {
  width: 50%; }

/*hide rss feed icon in saved searches area*/
[aria-label="Set an RSS for this search"] {
  display: none !important; }

/*adjust "sort by" in favourites*/
prm-favorites md-tabs-wrapper {
  position: absolute;
  width: 80%; }

prm-favorites .section-title {
  margin-top: -6em;
  margin-left: -11em;
  position: absolute; }

prm-favorites [translate="nui.favorites.sortby"] {
  font-size: 13px;
  font-weight: 600; }

prm-favorites .static-select.empty-select-on-init.md-primoExplore-theme.layout-row.md-input-has-value {
  font-size: 14px;
  padding-bottom: 0.15em; }

prm-favorites .main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
  padding-top: 5em; }

prm-favorites md-tabs.md-dynamic-height md-tabs-content-wrapper {
  margin-top: 3em; }

prm-favorites div > md-content > div.flex {
  margin-top: -3em; }

/*make facet checkboxes show on facet area hover*/
prm-facet > div:hover .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transform: scaleX(1);
  transition: all 0s 0s; }

/* make the lock show on facets area */
prm-facet prm-breadcrumbs div.md-chip-content strong {
  padding-left: 22px; }

prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
  opacity: 1;
  transform: none;
  padding-left: -2px; }

prm-breadcrumbs .md-chip.persistent-facet strong {
  padding-left: 0; }

prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
  left: -1px; }

/*stop the facets from jump in when checkbox ticked*/
.md-chip.animate-opacity-and-scale.facet-element-marker-rtype,
.md-chip.animate-opacity-and-scale.facet-element-marker-tlevel,
.md-chip.animate-opacity-and-scale.facet-element-marker-library,
.md-chip.animate-opacity-and-scale.facet-element-marker-topic,
.md-chip.animate-opacity-and-scale.facet-element-marker-jtitle,
.section-content.animate-max-height-variable.md-chip {
  transform: none; }

/*stop the checkbox remaining after it's unchecked*/
prm-facet .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox:focus {
  visibility: hidden; }

/*align alert bar "sign in" */
prm-alert-bar [translate="eshelf.signin.title"] {
  line-height: normal; }

.bar.alert-bar, .classic-input .search-scope, .prm-alert-border {
  border-color: #d6d6d6; }

.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
  background-color: #efefef; }

/*date facet adjustments*/
prm-facet md-input-container .md-input {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  width: 4.5em;
  margin-right: 0.8em; }

/*make chrome date facet inputs always show arrows*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

/*favorites back button*/
a#back_button {
  padding-top: 0.3em;
  font-weight: 300;
  font-size: 1em;
  margin-right: .5em;
  padding-left: .5em;
  color: grey;
  right: 23%;
  position: absolute;
  box-shadow: none;
  padding-right: 0.5em; }

#back_button > md-icon {
  height: 28px;
  width: 28px;
  margin-right: 0.5em; }

/* hide non-utf-8 options in export to ris/bibtex dropdown*/
[value="windows-1251"],
[value="US-ASCII"],
[value="ISO-8859-1"],
prm-export-ris ._md-select-icon,
prm-export-bibtex ._md-select-icon {
  display: none !important;
  cursor: pointer; }

/*allow clicking while autocomplete box is open*/
.md-scroll-mask {
  position: initial; }

/*no search results*/
#sort_by_dropdown_wrapper.no_results {
  display: none; }

prm-no-search-result md-card.default-card.zero-margin._md.md-primoExplore-theme {
  margin-top: 4.5em !important; }

.pinDummy.animating {
  top: 6em !important;
  left: calc(100% - 7.2em) !important; }

/*remove odd stuff when signing in*/
prm-stand-alone-login {
  display: none; }

/*make main menu hovers sentence case*/
md-tooltip > div._md-content._md._md-show:first-letter {
  text-transform: uppercase; }

/*hide "sign in" link on search results alert bar */
prm-alert-bar prm-authentication {
  display: none; }

/*hide duplicate wording under main menu elipses*/
prm-main-menu md-card-title-text .md-subhead {
  display: none; }

/*fix search options dropdown width*/
prm-search-bar div.search-options.flex-sm-40.visible {
  max-width: 11.7em;
  width: 11.7em; }

/*fix size of advanced search options dropdowns*/
prm-advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex {
  width: 11.7em;
  max-width: 13.8em; }

/*fix facet widths*/
prm-search div#facets {
  flex: 1 1 25%;
  max-width: 25%;
  max-height: 100%;
  box-sizing: border-box;
  min-width: 19em; }

/*show favorites sort in ipad view*/
#favoritesLabels {
  display: block !important; }

/*bookmark filter tidyup*/
prm-search-bookmark-filter a:hover {
  box-shadow: none; }

/*make the lib card hover behave like the other icons*/
#library_card_button_not_signed_in:hover, #library_card_button > button > prm-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

/*direct linking - background color while waiting for stuff to load*/
prm-search-result-list div.list-item-wrapper {
  background-color: #fff; }

#view_deets {
  margin-top: 0.5em; }

/*hide exlibris default icons*/
.fallback-img {
  /* display: none; */ }

/*central floor info*/
.cenFloor {
  padding-left: 5px;
  font-weight: bold; }

prm-advanced-search div.date-range-inputs.animate-input.layout-row > md-input-container > md-select > md-select-value > span._md-select-icon {
  width: 15px; }

/*feb release remove default exl sign in area*/
#changUserStatus {
  /* 	display: none; */
  background-color: #774E9A; }

/*fix first result not having an underline (not a complete fix)*/
.peer-reviewed-mark {
  padding: 4px 0 0 0; }

/*remove sms option under my account > details*/
prm-personal-info md-input-container.underlined-input.md-primoExplore-theme.layout-column md-checkbox {
  display: none; }

/*stop fav's btn overlapping on small screens*/
prm-full-view prm-brief-result > h3.item-title {
  max-width: 87% !important; }

/*reorder the full view sections*/
#getit_link1_0 {
  order: 0; }

#getit_link2_0, #getit_link2 {
  order: 1;
  display: none; }

#details {
  order: 2; }

#action_list {
  order: 3; }

#links {
  order: 4;
  display: none; }

#citationTrails {
  order: 5; }

#virtualBrowse {
  order: 6; }

order
.full-view-inner-container {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column; }

[aria-label="View it"] {
  order: 0 !important; }

[aria-label="Obtenir"] {
  order: 1 !important; }

[aria-label="Détails"] {
  order: 2 !important; }

[aria-label="Plus"] {
  order: 3 !important;
  display: none; }

[aria-label="Liens"] {
  order: 3 !important;
  display: none; }

[aria-label="Envoyer à"] {
  order: 4 !important; }

[aria-label="Citations"] {
  order: 5 !important; }

[aria-label="Parcourir"] {
  order: 6 !important; }

/*fix up shadows for bottom search result*/
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:nth-last-child(2), prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:not(:first-of-type)::before {
  box-shadow: none; }

/*fix background color in favorites area*/
prm-favorites md-list-item.list-item-wrapper {
  background: #FFF; }

/*Uncomment the follwoing lines to move facets to the left*/
/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/
prm-opac > md-tabs {
  display: none; }

#sfxholdings table,
#kohaholdings table {
  width: 100%; }

#kohaholdings details summary span.reduce {
  display: none; }

#kohaholdings details[open] summary span {
  display: none; }

#kohaholdings details[open] summary span.reduce {
  display: inline; }

#sfxholdings table .pull-right,
#kohaholdings table .pull-right {
  float: right; }

#sfxholdings table .bg-databases,
#kohaholdings table .bg-databases {
  background-color: #774e9a; }

#sfxholdings md-list-item.md-2-line .md-list-item-text span.summary,
#sfxholdings md-list-item.md-2-line > ._md-no-style .md-list-item-text span.summary,
#sfxholdings md-list-item.md-3-line .md-list-item-text span.summary,
#sfxholdings md-list-item.md-3-line > ._md-no-style .md-list-item-text span.summary {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .01em;
  margin: 0;
  line-height: 1.6em; }

#sfxholdings table .label,
#kohaholdings table .label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }
