/* Hides items from primo PNX*/
/*
prm-opac {
    display: none;
}
*/
prm-opac > md-tabs {
    display: none;
}


// Disable built in e-shelf
/*
.pin-button,
prm-favorites-labels,
prm-search-bookmark-filter a[aria-label='Go to my favorites'],
prm-search-bookmark-filter a[aria-label="nui.favorites.goFavorites.tooltip"],
prm-favorites md-tab-item:first-child {
  display: none !important;
}
*/

// Hide default library card options
/*
prm-library-card-menu > button {
  display: none !important;
}
*/

// Hide browse options from mainmenu
/*
a.md-button[aria-label="Browse"],
a.md-button[aria-label="mainmenu.label.Browse"] {
  display: none;
}
*/

// Hide Tags
// From: https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI
/*
[aria-label="Tags"],
#tags {
  display: none;
}
*/

.sidebar-section h2.sidebar-title {display: none;}

/*remove "Show results beyond my Libraries collection"*/
#facets > prm-facet > div > div > div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left {display: none;}

/*remove availability text in full record view*/
 prm-full-view-service-container prm-brief-result-container prm-search-result-availability-koha{display: none;}
// Hide availability links on brief and full display

prm-brief-result-container prm-search-result-availability-line > *:not(:last-child),
prm-full-view prm-search-result-availability-line > *:not(:last-child),
prm-full-view prm-search-result-availability-line-after a.check-avail-link {
  display: none;
}

/* hide non-utf-8 options in export to ris/bibtex dropdown*/
[value="windows-1251"],
[value="US-ASCII"],
[value="ISO-8859-1"],
prm-export-ris ._md-select-icon,
prm-export-bibtex ._md-select-icon {
	display: none !important;
	cursor: pointer;
}


/*
// Hide Get It section on full view
[aria-label="Get It"],
[id^='getit_link1_'] {
  display: none;
}
*/


/*Hide "Get it" link for online resources*/
#getit_link2 > div {display: none;}
[aria-label="Get It 2"] {display: none;}

