$primary: #8981B5;
$secondary: #774E9A;
$backgroundColor: white;
$links: #3274c6;
$warning: #B11030;
$positive: #774E9A;
$negative: #6E6E6E;
$notice: #D4CCD0;
$linkTitle: #FFF;
$citation: tomato;
$citationTitles: rgb(68, 112, 123);
$personalization: #7d1538;
$titles: $links;
$purple: #774E9A;
$getit_green: #008a0c;
$text_lavender: #e0d5e8;