prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
	opacity: 1;
	transform: none;
	padding-left: -2px;
}
prm-breadcrumbs .md-chip.persistent-facet strong {
	padding-left: 0;
}
prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
	left: -1px;
}
/*tidy up date facet in Firefox*/
[translate="facets.date.slider.from"] + input {max-width:80px !important;}
[translate="facets.date.slider.to"] + input {max-width:80px !important;}

/*fixes the sticky "exclude" facet option*/
#facets > prm-facet > div > div > div > prm-facet-group > div > prm-facet-exact > div > div.md-chips.md-chips-wrap > div:nth-child(6):focus {
	display: none;
}
/*make facet checkboxes show on facet area hover*/
prm-facet > div:hover .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
	opacity: 1;
	visibility: visible;
	z-index: 100;
	transform: scaleX(1);
	transition: all 0s 0s;
}
/* make the lock show on facets area */
prm-facet prm-breadcrumbs div.md-chip-content strong {
	padding-left: 22px;
}
/*stop the facets from jump in when checkbox ticked*/
.md-chip.animate-opacity-and-scale.facet-element-marker-rtype ,
.md-chip.animate-opacity-and-scale.facet-element-marker-tlevel,
.md-chip.animate-opacity-and-scale.facet-element-marker-library,
.md-chip.animate-opacity-and-scale.facet-element-marker-topic,
.md-chip.animate-opacity-and-scale.facet-element-marker-jtitle,
.section-content.animate-max-height-variable.md-chip{
	transform: none;
}
/*stop the checkbox remaining after it's unchecked*/
prm-facet .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox:focus{
	visibility: hidden;
}
/*fix facet widths*/
prm-search div#facets {
	flex: 1 1 25%;
    max-width: 25%;
    max-height: 100%;
    box-sizing: border-box;
	min-width: 19em;
}
/*date facet adjustments*/
prm-facet md-input-container .md-input {
	border-bottom-color: rgba(0,0,0,.12);
	width: 4.5em;
    margin-right: 0.8em;
}
/*make chrome date facet inputs always show arrows*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}
