/*change colour of title in full result view*/

#brief>prm-full-view-service-container>div.section-body>prm-brief-result-container>div.list-item-primary-content.result-item-primary-content.layout-row>div.result-item-text.layout-fill.layout-column.flex>prm-brief-result>h3>a>span>prm-highlight>span {
    color: #6d6d6d;
    /*cursor: auto;*/
}

.full-view-section {
    margin-top: 1em;
}

prm-opac .section-title {
    padding-top: 10px;
}

.full-view-section prm-view-online-after .section-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}

.separate-list-items md-list-item {
    background-color: #efefef;
}

@media screen and (min-height: 460px) {
    @media screen and (min-width: 1280px) {
        /*make send-to vertical*/
        [aria-label="Send to"] {
            display: none;
        }
        prm-full-view #scrollActionList {
            flex-direction: column;
        }
        body.md-dialog-is-showing prm-action-list {
            float: right;
            top: 2em;
            position: fixed;
            right: 0;
        }
        prm-full-view-page #action_list {
            float: right;
            top: -2em;
            position: absolute;
            right: 0em;
        }
        #action_list>div>prm-full-view-service-container>div.section-body>prm-action-list>md-nav-bar>div {
            right: 50%;
        }
        #scrollActionList {
            align-items: center;
            align-content: center;
        }
        body.md-dialog-is-showing prm-action-container {
            top: 24em;
            position: fixed;
            float: right;
            right: 1em;
        }
        prm-full-view-page prm-action-container {
            top: 22em;
            position: absolute;
            float: right;
            right: 1em;
        }
        prm-full-view .send-actions-content-item>md-content,
        prm-full-view .send-actions-content-item>md-content.md-primoExplore-theme {
            padding: 2px;
        }
        #action_list .flex-20 {
            flex: initial;
            max-width: 0;
        }
        #action_list prm-full-view-service-container md-divider,
        #action_list prm-full-view-service-container h4 {
            display: none;
        }
        /*citation trails to the right*/
        // [aria-label="References"] {
        // 	display: none;
        // }
        // body.md-dialog-is-showing #citationTrails {
        // 	bottom: 2em;
        // 	position: fixed;
        // 	float: right;
        // 	right: 1em;
        // 	padding: 0;
        // }
        // prm-full-view-page #citationTrails {
        // 	top: 38em;
        // 	position: absolute;
        // 	float: right;
        // 	right: 1em;
        // 	padding: 0;
        // }
        // #citationTrails .full-view-section-content {
        // 	padding: 0;
        // }
        /* make actions sit on top of other elements */
        prm-action-list,
        prm-action-container {
            z-index: 15;
        }
        @media screen and (min-width: 1890px) {
            prm-full-view prm-action-container .layout-fill {
                width: 30em;
            }
            prm-full-view-page prm-action-list {
                right: -33em;
            }
            prm-full-view-page prm-action-container {
                right: 2em;
            }
            // #citationTrails {
            // 	width: 26em;
            // }
        }
        @media screen and (max-width: 1890px) {
            prm-full-view prm-action-container .layout-fill {
                width: 29em;
            }
            prm-full-view-page prm-action-list {
                right: -31em;
            }
            prm-full-view-page prm-action-container {
                right: 3em;
                width: 27em;
            }
            // #citationTrails {
            // 	width: 25em;
            // }
        }
        @media screen and (max-width: 1800px) {
            prm-full-view prm-action-container .layout-fill {
                width: 28em;
            }
            prm-full-view-page prm-action-list {
                right: -31em;
            }
            prm-full-view-page prm-action-container {
                right: 3em;
                width: 27em;
            }
            // #citationTrails {
            // 	width: 23.5em;
            // }
        }
        @media screen and (max-width: 1710px) {
            prm-full-view prm-action-container .layout-fill {
                width: 26em;
            }
            prm-full-view-page prm-action-list {
                right: -30em;
            }
            prm-full-view-page prm-action-container {
                right: 4em;
                width: 25em;
            }
            // #citationTrails {
            // 	width: 22em;
            // }
        }
        @media screen and (max-width: 1620px) {
            prm-full-view prm-action-container .layout-fill {
                width: 22em;
            }
            prm-full-view-page prm-action-list {
                right: -26em;
            }
            prm-full-view-page prm-action-container {
                right: 1.5em;
                width: 24em;
            }
            // #citationTrails {
            // 	width: 18em;
            // }
        }
        @media screen and (max-width: 1530px) {
            prm-full-view prm-action-container .layout-fill {
                width: 20em;
            }
            prm-full-view-page prm-action-list {
                right: -26em;
            }
            prm-full-view-page prm-action-container {
                right: 1em;
                width: 24em;
            }
            // #citationTrails {
            // 	width: 16em;
            // }
        }
        @media screen and (max-width: 1440px) {
            prm-full-view prm-action-container .layout-fill {
                width: 19em;
            }
            prm-full-view-page prm-action-list {
                right: -24em;
            }
            prm-full-view-page prm-action-container {
                right: -1em;
                width: 24em;
            }
            // #citationTrails {
            // 	width: 15em;
            // }
        }
        @media screen and (max-width: 1350px) {
            prm-full-view prm-action-container .layout-fill {
                width: 18em;
            }
            // #citationTrails {
            // 	width: 14em;
            // }
        }
        @media screen and (max-width: 1280px) {
            prm-full-view prm-action-container .layout-fill {
                width: 16em;
            }
            prm-full-view-page prm-action-list {
                right: -24em;
            }
            prm-full-view-page prm-action-container {
                right: -2em;
                width: 24em;
            }
            // #citationTrails {
            // 	width: 12em;
            // }
        }
        /* fix up "send email" for small screen heights */
        @media screen and (max-height: 730px) {
            prm-action-container prm-send-email {
                top: 16em;
                position: fixed;
                float: right;
                right: 1em;
            }
            prm-full-view-page prm-action-container prm-send-email {
                top: 2em;
                position: absolute;
                float: right;
                right: 2em;
            }
            [name="emailForm"] [name="subject"] {
                font-size: 0.8em;
            }
            prm-send-email .send-actions-content-item {
                padding: 0;
            }
            prm-send-email md-input-container {
                margin: 10px 0 0 0;
            }
            [name="emailForm"] .layout-margin {
                margin: 0 8px;
                padding: 0 8px;
            }
        }
    }
}


/*reorder the full view sections*/

#getit_link1_0 {
    order: 0;
}

#getit_link2_0,
#getit_link2 {
    order: 1;
    display: none;
}

#action_list {
    order: 2;
}

#details {
    order: 4;
}

#citationTrails {
    order: 3;
}

#links {
    order: 6;
    display: none;
}

#virtualBrowse {
    order: 5;
}

#tags {
    display: none;
}

#timesCited {
    display: none;
}

.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

[aria-label="View it"] {
    order: 0 !important;
}

[aria-label="Obtenir"] {
    order: 1 !important;
}

[aria-label="Détails"] {
    order: 2 !important;
}

[aria-label="Plus"] {
    display: none;
}

[aria-label="Liens"] {
    display: none;
}

[aria-label="Envoyer à"] {
    order: 3 !important;
}

[aria-label="Citations"] {
    order: 4 !important;
}

[aria-label="Parcourir"] {
    order: 5 !important;
}

[aria-label="Tags"] {
    order: 6 !important;
}


/*fix up shadows for bottom search result*/

prm-search-result-list .pages-separated-with-gaps .list-item-wrapper:nth-last-child(2),
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:not(:first-of-type)::before {
    box-shadow: none;
}


/*fix background color in favorites area*/

prm-favorites md-list-item.list-item-wrapper {
    background: #FFF;
}