/*BEGIN Browse Books Cover Rows on homepage*/

.flexRow{ /*Overall wrapper, sets inner elements as flex objects*/
  	display: -webkit-box;  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UCBrowser Android */
  	display: -moz-box;     /* Firefox 2 - 27 (2009 Spec), UCMini Android */
  	display: -ms-flexbox;  /* IE10 (2012 Syntax) */
  	display: -webkit-flex; /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  	display: flex;         /* Edge 12+, Firefox 28+, Blink, Safari 9+, Opera Mini 8+ */
	-webkit-box-pack: justify; /*Start: more code for catalog stations lja 1/19/17*/
  	-webkit-justify-content: space-between;
 	-ms-flex-pack: justify;
 	 justify-content: flex-start;
 	-webkit-box-align: start;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;  /*Start: more code for catalog stations lja 1/19/17*/
	flex-wrap:wrap;
	max-width: 950px;
	margin-bottom: 15px;
	padding: 10px;
}


.flexItem{ /*Individual columns within the overall wrapper*/ 
	float:left;
	/*border-bottom:1px solid black;*/
	padding:0;	
	text-align: center;
}
.flexItemText{
	float:left;
	width:25%;
	/*border-bottom:1px solid black;*/
	padding:5px;	
	text-align: left;
}
@media (max-width: 520px) {
.flexItemText{
	width:100%;
}
}

.flexItem img { 
	height: 130px;
	width:95px;
	margin-right:7px;
}

@media (max-width: 520px) {
.flexItem img{
	height: 110px;
	width:80px;
}
}


button.flexItem  {
	margin-left: 0;
	padding: 4px 10px 6px 10px; 
	border: 1px solid #CCC;
    border-radius: 7px;
    background: none;
    background-color: #fff;
	font-size: 80%;
    color: #999;
    text-align: center;
}
button.flexItem a{
	color:white;
	text-decoration:none;
}

button.flexItem:hover{
	background: none;
	background-color: #eee;
	color:#000;
	border: 0;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*END Browse Book Cover Rows*/

/*END Custom homepage html */
