<prm-spinner class="inline-loader half-transparent dark-on-light no-text" layout="row" ng-if="kohajholdings_loading" layout-align="center center"></prm-spinner>
<div  ng-if="kohaholdings.length > 0" >
			<div layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
				<h3 class="section-title"><span translate="nui.aria.locationItems.locationItems"></span></h3>
			</div>
<md-list ng-if="kohaholdings" id="kohaholdings" layout="column" class="separate-list-items margin-left-medium">
	<md-list-item ng-repeat="holding in kohaholdings | orderBy:['library'] " class="md-2-line">
		<div layout="row" flex>
				<div class="md-list-item-text" layout="row" layout-wrap flex><div flex flex-xs="100">
					<div ng-if="holding.library">
						<h3><span translate="nui.item.brief.1"></span> {{holding.library}}</h3>
						<md-tooltip>{{holding.library}}</md-tooltip>
					</div>
					<div class="weak-text" ng-if="holding.location">
						<p><span translate="nui.item.brief.3"></span> {{holding.location}}</p>
						<md-tooltip>{{holding.location}}</md-tooltip>
					</div>
					<div  ng-if="holding.callnumber">
						<p class="callnum"><span translate="nui.item.brief.4"></span> {{holding.callnumber}}</p>
						<md-tooltip>{{holding.callnumber}}</md-tooltip>
					</div>					
				</div>
				<div class="weak-text" flex flex-xs="100">
					<div ng-if="holding.holdings">
						<p class="availability-status available"><span translate="nui.item.brief.2"></span> {{holding.holdings}}</p>
						<md-tooltip>{{holding.holdings}}</md-tooltip>
					</div>
					<div ng-if='holding.location.indexOf("Magasin") > -1' flex flex-xs="100">
							<p ng-if='holding.location.indexOf("Magasin") > -1 && holding.library === "Bibliothèque Universitaire Centrale"' class="availability-status {{item.statusClass}}"> 						
								<button  ng-if="avail_commagbu" ng-disabled="{{userIsGuest}}" class="custom-button md-button zero-margin button-with-icon button-confirm service md-primoExplore-theme md-ink-ripple" type="button" ng-click="showRequestItem($event,biblionumber,'',holding.callnumber,holding.holdings,false)" aria-label="Retirer un numéro de cette revue sous 1h à l'accueil de la BU Centrale. ">
									<prm-icon class="md-icon-button-custom" icon-type="svg" svg-icon-set="action" icon-definition="ic_add_shopping_cart_24px"></prm-icon>
									<span ng-if="!userIsGuest">Demander un numéro/volume</span>
									<span ng-if="userIsGuest">Se connecter pour demander un numéro/volume</span>
									<md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim"><span class="item-description popover">Retirer un numéro ou volume de cette revue sous 1h à l'accueil de la BU Centrale pendant les horaires d'ouverture du service (lu-ve : 8h30-12h et 14h-19h et Sa : 9h-12h et 14h-16h). </span></md-tooltip>
								</button>
								<button  ng-if="!avail_commagbu" ng-disabled="true" class="custom-button md-button zero-margin button-with-icon button-confirm service md-primoExplore-theme md-ink-ripple" type="button" aria-label="Retirer un numéro de cette revue sous 1h à l'accueil de la BU Centrale pendant les horaires d'ouverture du service (lu-ve : 8h30-12h et 14h-19h et Sa : 9h-12h et 14h-16h). ">
									<prm-icon class="md-icon-button-custom" icon-type="svg" svg-icon-set="action" icon-definition="ic_add_shopping_cart_24px"></prm-icon>
									<span>Demander un numéro/volume</span>
									<md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim"><span class="item-description popover">Retirer un numéro ou volume de cette revue sous 1h à l'accueil de la BU Centrale pendant les horaires d'ouverture du service (lu-ve : 8h30-12h et 14h-19h et Sa : 9h-12h et 14h-16h). </span></md-tooltip>
								</button>
							</p>
					</div>
					<div ng-if="item.isExpanded">
						<div ng-repeat="full in item.fullItemFields track by $index">
							<p>{{full}}</p>
							<md-tooltip>{{item.fullItemValues[$index]}}</md-tooltip>
						</div>
					</div>
				</div>
			</div>
		</div>
		<prm-location-item-after parent-ctrl="$ctrl"></prm-location-item-after>
	</md-list-item>
</md-list>
</div>