<div ng-if="sfxholdings" ng-include src="'custom/33UDR2_VU1/html/prmViewOnlineAfter.html'"></div>

<prm-spinner class="inline-loader half-transparent dark-on-light no-text" layout="row" ng-if="loading" layout-align="center center"></prm-spinner>

<h3 ng-if="onshelves" class="section-title" style="margin-bottom: .75em !important;"><span translate="nui.aria.locationItems.locationItems"></span></h3>


<md-list ng-if="items"  layout="column" class="separate-list-items margin-left-medium">
	<md-list-item ng-repeat="item in items | orderBy:['branchrank','itemcallnumber'] " class="md-2-line">
		<div layout="row" flex>
				<div class="md-list-item-text" layout="row" layout-wrap flex><div flex flex-xs="100">
					<div ng-if="item.homebranch">
						<h3><span translate="nui.item.brief.1"></span> {{item.homebranch}}</h3>
						<md-tooltip>{{item.homebranch}}</md-tooltip>
					</div>
				</div>
				<div  flex flex-xs="100">
					<div ng-if="item.location">
						<p class="weak-text"><span translate="nui.item.brief.3"></span> {{item.location}}</p>
						<md-tooltip>{{item.location}}</md-tooltip>
					</div>
					<div ng-if="item.itemcallnumber">
						<p class="callnum"><span translate="nui.item.brief.4"></span> {{item.itemcallnumber}}</p>
						<md-tooltip>{{item.itemcallnumber}}</md-tooltip>
					</div>
					<div ng-if="item.copynumber">
						<p class="weak-text"><span translate="nui.item.brief.3"></span> {{item.copynumber}}</p>
						<md-tooltip>{{item.copynumber}}</md-tooltip>
					</div>
					<div ng-if="item.isExpanded">
						<div ng-repeat="full in item.fullItemFields track by $index">
							<p>{{full}}</p>
							<md-tooltip>{{item.fullItemValues[$index]}}</md-tooltip>
						</div>
					</div>
				</div>

				<div layout-align="end center" layout="row" layout-wrap flex-xs="100" flex-sm="30">
					<div ng-if="item.istatus">
						<p class="availability-status {{item.statusClass}}"><span translate="nui.item.brief.2"></span> {{item.istatus}}</p>
						<md-tooltip>{{item.istatus}}</md-tooltip>
					</div>
<!--
					<div layout="row" layout-align="center center" ng-repeat="service in item.listOfServices track by $index" ng-if="$ctrl.isLoggedIn()">
						<prm-service-button ng-if="$ctrl.allowService()" [service]="service" (change-tab-event)="::$ctrl.onChangeTabEvent($event)" [parent-tab]="::$ctrl.tabId" [request-parameters]="$ctrl.getServiceAdditionalParams(item, service)" method="GET"></prm-service-button>
						<div class="skewed-divider" ng-if="!$last"></div>
					</div>
-->
				</div>

			</div>
			
<!--
			<div class="align-self-stretch">
				<md-button class="md-secondary item-expand-button" aria-label="{{'nui.aria.locationItems.expandcollapse' | translate}}">
					<prm-icon ng-class="{'rotate-180': item.isExpanded}" icon-type="{{$ctrl.opacLocations.expandIcon.type}}" svg-icon-set="{{$ctrl.opacLocations.expandIcon.iconSet}}" icon-definition="{{$ctrl.opacLocations.expandIcon.icon}}"></prm-icon>
				</md-button>
			</div>
-->
		</div>
		<prm-location-item-after parent-ctrl="$ctrl"></prm-location-item-after>
	</md-list-item>
</md-list>

<h3 ng-if="kohaholdings" class="section-title" style="margin-bottom: .75em !important;"><span translate="nui.aria.locationItems.locationItems"></span></h3>


<md-list ng-if="kohaholdings" id="kohaholdings" layout="column" class="separate-list-items margin-left-medium">
	<md-list-item ng-repeat="holding in kohaholdings | orderBy:['library'] " class="md-2-line">
		<div layout="row" flex>
				<div class="md-list-item-text" layout="row" layout-wrap flex><div flex flex-xs="100">
					<div ng-if="holding.library">
						<h3><span translate="nui.item.brief.1"></span> {{holding.library}}</h3>
						<md-tooltip>{{holding.library}}</md-tooltip>
					</div>
					<div class="weak-text" ng-if="holding.location">
						<p><span translate="nui.item.brief.3"></span> {{holding.location}}</p>
						<md-tooltip>{{holding.location}}</md-tooltip>
					</div>
					<div  ng-if="holding.callnumber">
						<p class="callnum"><span translate="nui.item.brief.4"></span> {{holding.callnumber}}</p>
						<md-tooltip>{{holding.callnumber}}</md-tooltip>
					</div>
				</div>
				<div class="weak-text" flex flex-xs="100">
					<div ng-if="holding.holdings">
						<p class="availability-status available"><span translate="nui.item.brief.2"></span> {{holding.holdings}}</p>
						<md-tooltip>{{holding.holdings}}</md-tooltip>
					</div>
					<div ng-if="item.isExpanded">
						<div ng-repeat="full in item.fullItemFields track by $index">
							<p>{{full}}</p>
							<md-tooltip>{{item.fullItemValues[$index]}}</md-tooltip>
						</div>
					</div>
				</div>

				<div layout-align="end center" layout="row" layout-wrap flex-xs="100" flex-sm="30">
					
<!--
					<div layout="row" layout-align="center center" ng-repeat="service in item.listOfServices track by $index" ng-if="$ctrl.isLoggedIn()">
						<prm-service-button ng-if="$ctrl.allowService()" [service]="service" (change-tab-event)="::$ctrl.onChangeTabEvent($event)" [parent-tab]="::$ctrl.tabId" [request-parameters]="$ctrl.getServiceAdditionalParams(item, service)" method="GET"></prm-service-button>
						<div class="skewed-divider" ng-if="!$last"></div>
					</div>
-->
				</div>

			</div>
			
<!--
			<div class="align-self-stretch">
				<md-button class="md-secondary item-expand-button" aria-label="{{'nui.aria.locationItems.expandcollapse' | translate}}">
					<prm-icon ng-class="{'rotate-180': item.isExpanded}" icon-type="{{$ctrl.opacLocations.expandIcon.type}}" svg-icon-set="{{$ctrl.opacLocations.expandIcon.iconSet}}" icon-definition="{{$ctrl.opacLocations.expandIcon.icon}}"></prm-icon>
				</md-button>
			</div>
-->
		</div>
		<prm-location-item-after parent-ctrl="$ctrl"></prm-location-item-after>
	</md-list-item>
</md-list>


