<div class="bar alert-bar zero-margin-bottom layout-align-center-center layout-row" ng-if="items && userIsGuest && isclosedstacks">
    <div class="md-dialog-content">
         Veuillez vous connecter pour placer des demandes de document.
         <prm-authentication></prm-authentication>
    </div>
</div>

<div ng-if="sfxholdings" ng-include src="'custom/33UDR2_VU1/html/prmViewOnlineAfter.html'"></div>


<prm-spinner class="inline-loader half-transparent dark-on-light no-text" layout="row" ng-if="loading" layout-align="center center"></prm-spinner>



<div ng-if="items.length > 0">
<h3 class="section-title" style="margin-bottom: .75em !important;"><span translate="nui.aria.locationItems.locationItems"></span></h3>


<div  class="bar filter-bar animate-horizontal-swap margin-bottom-small layout-fill layout-wrap layout-align-start-center layout-row" layout="row" layout-align="start center" layout-wrap="" style="padding: .5em 1em; position: relative; border-radius: 3px;" layout-fill="">
<md-input-container layout="row" layout-align="start" class="zero-padding margin-right-small md-primoExplore-theme layout-align-start-stretch layout-row"><!---->
<md-select ng-model="selection" placeholder="Bibliothèque" class="borderless ng-pristine ng-untouched ng-valid md-primoExplore-theme ng-empty" tabindex="0" aria-label="Location" role="listbox" aria-expanded="false" aria-multiselectable="false" aria-disabled="false" aria-invalid="false">
    <md-option ng-value="item" ng-repeat="item in branches | orderBy:['item'] ">{{item}}</md-option>
</md-select>
</md-input-container>
<md-input-container layout="row" layout-align="start" class="zero-padding margin-right-small md-primoExplore-theme layout-align-start-stretch layout-row"><!---->
<md-select ng-model="availability" placeholder="Disponibilité" class="borderless ng-pristine ng-untouched ng-valid md-primoExplore-theme ng-empty" tabindex="0" aria-label="Status" role="listbox" aria-expanded="false" aria-multiselectable="false" aria-disabled="false" aria-invalid="false">
    <md-option ng-value="item" ng-repeat="item in status | orderBy:['item'] ">{{item}}</md-option>
</md-select>
</md-input-container>
</div>


<prm-spinner class="inline-loader half-transparent dark-on-light no-text" layout="row" ng-if="kohaitems_loading" layout-align="center center"></prm-spinner>
<md-list ng-if="items"  layout="column" class="separate-list-items margin-left-medium">
	<md-list-item ng-repeat="item in items | filter:{'homebranch':selection, 'istatus':availability} | orderBy:['branchrank','itemcallnumber'] " class="md-2-line">
		<div layout="row" flex>
				<div class="md-list-item-text" layout="row" layout-wrap flex><div flex flex-xs="100">
					<div ng-if="item.homebranch">
						<h4 class="homebranch"><span translate="nui.item.brief.1"></span> {{item.homebranch}}</h4>
						<md-tooltip>{{item.homebranch}}</md-tooltip>
					</div>
				</div>
				<div  flex flex-xs="100">
					<div ng-if="item.location && item.statusClass !== 'status-ondemand'">
						<p class="weak-text"><span translate="nui.item.brief.3"></span> {{item.location}}</p>
						<md-tooltip>{{item.location}}</md-tooltip>
					</div>
					<div ng-if="item.location && item.statusClass === 'status-ondemand'">
							<p class="weak-text"> Accueil de la bibliothèque</p>
							<md-tooltip>Accueil de la bibliothèque</md-tooltip>
						</div>

					<div ng-if="item.itemcallnumber">
						<p class="callnum"><span translate="nui.item.brief.4"></span> {{item.itemcallnumber}}</p>
						<md-tooltip>{{item.itemcallnumber}}</md-tooltip>
					</div>
					<div ng-if="item.copynumber">
						<p class="weak-text"><span translate="nui.item.brief.3"></span> {{item.copynumber}}</p>
						<md-tooltip>{{item.copynumber}}</md-tooltip>
					</div>
					<div ng-if="item.isExpanded">
						<div ng-repeat="full in item.fullItemFields track by $index">
							<p>{{full}}</p>
							<md-tooltip>{{item.fullItemValues[$index]}}</md-tooltip>
						</div>
					</div>
				</div>


				<div ng-if="item.itemnotes" flex flex-xs="100">
					<p class="weak-text small"><span>Note : </span>{{item.itemnotes}}</p>
				</div>

				<div layout-align="end" flex-xs="100" flex-sm="30">
					<div ng-if="item.istatus" class="center"  layout="row" layout-wrap  >
						<p ng-if='item.statusClass === "status-ondemand" && item.homebranch === "Bibliothèque Universitaire Centrale" && item.isrequested == "false"' class="availability-status {{item.statusClass}}"> 						
								<button ng-disabled="{{userIsGuest}}"  class="custom-button md-button zero-margin button-with-icon button-confirm md-primoExplore-theme md-ink-ripple" type="button" ng-click="showRequestItem($event,biblionumber,item.itemnumber,item.itemcallnumber,'',isavailableonshelf)" aria-label="Retirer ce document sous 1h à l'accueil de votre bibliothèque">
								<prm-icon class="md-icon-button-custom" icon-type="svg" svg-icon-set="action" icon-definition="ic_add_shopping_cart_24px"></prm-icon>
								Retrait 1h en bibliothèque
								<md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim"><span class="item-description popover animate-popover">Retirer ce document sous 1h à l'accueil de votre bibliothèque</span></md-tooltip></button>
						</p>
						<p ng-if='item.statusClass === "status-ondemand" && item.homebranch === "Bibliothèque Universitaire Centrale" && item.isrequested == "true"' class="availability-status status-unavailable unavailable"> Actuellement consulté par un lecteur</p>
						<p ng-if='item.statusClass === "status-ondemand" && item.homebranch !== "Bibliothèque Universitaire Centrale"' class="availability-status {{item.statusClass}}"> Demander à un bibliothécaire</p>
						<p ng-if='item.statusClass !== "status-ondemand"' class="availability-status {{item.statusClass}}"> {{item.istatus}}
						 <md-tooltip>{{item.istatus}}</md-tooltip>			
						</p>

					</div>

				</div>

			</div>
		</div>
		<prm-location-item-after parent-ctrl="$ctrl"></prm-location-item-after>
	</md-list-item>
</md-list>

</div>


<prm-spinner class="inline-loader half-transparent dark-on-light no-text" layout="row" ng-if="kohajholdings_loading" layout-align="center center"></prm-spinner>

<div ng-if="kohaholdings.length > 0" >
	<h3  class="section-title" style="margin-bottom: .75em !important;"><span translate="nui.aria.locationItems.locationItems"></span></h3>

<md-list ng-if="kohaholdings" id="kohaholdings" layout="column" class="separate-list-items margin-left-medium">
	<md-list-item ng-repeat="holding in kohaholdings | orderBy:['library'] " class="md-2-line">
		<div layout="row" flex>
				<div class="md-list-item-text" layout="row" layout-wrap flex><div flex flex-xs="100">
					<div ng-if="holding.library">
						<h3><span translate="nui.item.brief.1"></span> {{holding.library}}</h3>
						<md-tooltip>{{holding.library}}</md-tooltip>
					</div>
					<div class="weak-text" ng-if="holding.location">
						<p><span translate="nui.item.brief.3"></span> {{holding.location}}</p>
						<md-tooltip>{{holding.location}}</md-tooltip>
					</div>
					<div  ng-if="holding.callnumber">
						<p class="callnum"><span translate="nui.item.brief.4"></span> {{holding.callnumber}}</p>
						<md-tooltip>{{holding.callnumber}}</md-tooltip>
					</div>
					
				</div>
				<div class="weak-text" flex flex-xs="100">
					<div ng-if="holding.holdings">
						<p class="availability-status available"><span translate="nui.item.brief.2"></span> {{holding.holdings}}</p>
						<md-tooltip>{{holding.holdings}}</md-tooltip>
					</div>
					<div ng-if='holding.location.indexOf("Magasin") > -1' flex flex-xs="100">
							<p ng-if='holding.location.indexOf("Magasin") > -1 && holding.library === "Bibliothèque Universitaire Centrale"' class="availability-status {{item.statusClass}}"> 						
									<button  ng-disabled="{{userIsGuest}}" class="custom-button md-button zero-margin button-with-icon button-confirm md-primoExplore-theme md-ink-ripple" type="button" ng-click="showRequestItem($event,biblionumber,'',holding.callnumber,holding.holdings,false)" aria-label="Obtenir ce document">
									<prm-icon class="md-icon-button-custom" icon-type="svg" svg-icon-set="action" icon-definition="ic_add_shopping_cart_24px"></prm-icon>
									Retrait 1h en bibliothèque
									<md-tooltip md-direction="down" md-delay="400" class="multi-row-tooltip slide-tooltip-anim"><span class="item-description popover animate-popover">Obtenir ce document ?</span></md-tooltip></button>
							</p>
					</div>
					<div ng-if="item.isExpanded">
						<div ng-repeat="full in item.fullItemFields track by $index">
							<p>{{full}}</p>
							<md-tooltip>{{item.fullItemValues[$index]}}</md-tooltip>
						</div>
					</div>
				</div>


			</div>

		</div>
		<prm-location-item-after parent-ctrl="$ctrl"></prm-location-item-after>
	</md-list-item>
</md-list>

</div>
