<md-dialog id="requestItem" aria-label="Obtenir le document" ng-hide="hideForm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Obtenir le document</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelRequest()">
                <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-if="userIsGuest">
        <div class="md-dialog-content">
            Vous devez être connecté pour utiliser ce service.
            <prm-authentication></prm-authentication>
        </div>
    </md-dialog-content>

    <md-dialog-content ng-if="!request_succeed && !userIsGuest">

            <div class="send-actions-content-item">
                <md-content>
                        <h4  ng-if="addata.ristype['0'] !== 'JOUR'">Votre demande concerne le document :</h4> 
                        <h4  ng-if="addata.ristype['0'] === 'JOUR'">Votre demande concerne la revue : </h4> 

                    <div layout="row" ng-class="'layout-'+$ctrl.layoutPos">

                        <div data-tab-pane="cite" flex>
                            <div layout="column" layout-padding layout-align="start center">
                                <div class="form-focus" layout-padding layout="row" layout-align="center center">
                                    <span ng-if="addata.btitle">
                                        <span ng-if="addata.aulast">{{addata.aulast[0]}}<span ng-if="addata.aufirst">,&nbsp;{{addata.aufirst[0]}}</span>.&nbsp;</span>
                                        <i>{{addata.btitle[0]}}.&nbsp;</i>
                                        <span ng-if="addata.cop">{{addata.cop[0]}}&nbsp;:&nbsp;</span>
                                        <span ng-if="!addata.cop">.&nbsp;</span>
                                        <span ng-if="addata.pub">{{addata.pub[0]}}.&nbsp;</span>
                                        <span ng-if="addata.date">{{addata.date[0]}}.</span>
                                    </span>
                                    <span ng-if="addata.jtitle">
                                        <i>{{addata.jtitle[0]}}.&nbsp;</i>
                                        <span ng-if="addata.cop">{{addata.cop[0]}}&nbsp;:&nbsp;</span>
                                        <span ng-if="!addata.cop">.&nbsp;</span>
                                        <span ng-if="addata.pub">{{addata.pub[0]}}.&nbsp;</span>
                                        <span ng-if="addata.issn">{{addata.issn[0]}}.&nbsp;</span>
                                        <span ng-if="callnumber"> Cote&nbsp;:&nbsp;{{callnumber}}.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
        <form name="requestItemForm">
            <div class="md-dialog-content">
            <input ng-if="biblionumber" type="hidden" name="biblionumber" id="biblionumber" value="{{biblionumber}}" />
            <input ng-if="itemnumber" type="hidden" name="itemnumber" id="itemnumber" value="{{itemnumber}}" />
            <input ng-if="uid" type="hidden" name="uid" id="uid" value="{{uid}}" />
            <input ng-if="callnumber" type="hidden" name="callnumber" id="callnumber" value="{{callnumber}}" />
            <div ng-if="addata.ristype['0'] === 'JOUR'" class="padding-large layout-align-xs-strech layout-align-gt-xs-start-start layout-column" layout="column"
                layout-align-gt-xs="start start" layout-align-xs="strech">
                <label><strong>Merci de préciser les éléments suivants :</strong> </label> 

                <div class="request-form-group layout-xs-column layout-row" layout="row" layout-xs="column">
                    <!---->
                    <div layout="row" layout-xs="column" class="request-form-group-item layout-xs-column layout-row">
                        <md-input-container class="underlined-input md-primoExplore-theme" ng-class="{'md-required':$ctrl.field.mandatory, '' :$ctrl.field.css}">
                            <label class="" for="volume">Volume</label>
                            <input type="text" name="volume" ng-model="request.volume"  size="6" maxlength="" class="ng-pristine ng-untouched md-input ng-empty ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required" aria-invalid="false">
                            <div class="md-errors-spacer"></div>
                            <!---->
                        </md-input-container>
                    </div>
                    <!---->

                    <div layout="row" layout-xs="column" class="request-form-group-item layout-xs-column layout-row">
                        <md-input-container class="underlined-input md-primoExplore-theme" ng-class="{'md-required':$ctrl.field.mandatory, '' :$ctrl.field.css}">
                            <label class="" for="issue">Numéro</label>
                            <input type="text" name="issue" ng-model="request.issue" ng-required="$ctrl.field.mandatory" size="6" maxlength="" class="ng-pristine ng-untouched md-input ng-empty ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required" aria-invalid="false">
                            <div class="md-errors-spacer"></div>
                            <!---->
                        </md-input-container>
                    </div>
                    <!---->
                    <div layout="row" class="layout-row" style="">
                        <md-input-container class="underlined-input md-primoExplore-theme">
                            <label for="year">Année</label>
                            <input type="text" maxlength="4" size="4" class="ng-pristine ng-untouched ng-valid md-input ng-empty ng-valid-pattern ng-valid-maxlength" name="year" ng-model="request.year" aria-invalid="false">
                            <div class="md-errors-spacer"></div>
                            <div style="color:tomato" class="md-input-messages-animation md-auto-hide ng-inactive"
                                aria-live="assertive">
                                <!---->
                            </div>
                        </md-input-container>
                    </div>

                </div>
            </div>
                <span ng-if="returnMessage" class="md-input-message-animation" style="opacity: 1; margin-top: 0px;color:tomato;">{{returnMessage}}</span>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row" ng-if="!request_succeed && !userIsGuest">
        <md-button class="md-button md-secondary" ng-click="cancelRequest()">Annuler</md-button>
        <span flex></span>
        <md-button class="button-with-icon button-confirm md-button md-primoExplore-theme md-ink-ripple" ng-click="sendRequest()">
            <prm-icon icon-type="svg" svg-icon-set="action" icon-definition="ic_done_24px"></prm-icon>
            Confirmer votre demande
        </md-button>
    </md-dialog-actions>

    <md-dialog-content ng-if="request_succeed && !userIsGuest">
        <div class="md-dialog-content">
        <p>Votre demande a bien été prise en compte, elle est cours de traitement.</p>
        <p>Vous recevrez très prochainement un message vous informant de la disponiblité du document à l'accueil de la bibliothèque, vous aurez alors trois jours pour venir le retirer.</p>
        <p>Excellente journée et à très bientôt dans nos bibliothèques.</p>
    </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" ng-if="request_succeed && !userIsGuest">
        <md-button class="button-with-icon button-confirm md-button md-primoExplore-theme md-ink-ripple" ng-click="cancelRequest()">Fermer</md-button>
    </md-dialog-actions>

</md-dialog>    